<h2 style="color: green; text-align: center;">Logged Out Successfully!</h2>
<h3 style="text-align: center;">You have been logged out. Thank you for using QuiC! You can login again <a href="/login">here</a>, or access the home page at the top</a>.</h3>