<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title">{{user.first_name}} {{user.last_name}}</h1>
    <p class="card-text">@{{user.username}}</p>
  </div>
</div>

<p>{{folder.folder_count}}</p>