<h2 style="text-align: center;">Register</h2>

<form action="/register" method="POST" style="text-align: center;">
  <div style="display: flex; justify-content: center; margin-bottom: 15px;">
    <label style="width: 100px; text-align: right; margin-right: 10px;">First Name:</label>
    <input type="text" name="first_name" required style="width: 200px;" />
  </div>

  <div style="display: flex; justify-content: center; margin-bottom: 15px;">
    <label style="width: 100px; text-align: right; margin-right: 10px;">Last Name:</label>
    <input type="text" name="last_name" required style="width: 200px;" />
  </div>
  
  <div style="display: flex; justify-content: center; margin-bottom: 15px;">
    <label style="width: 100px; text-align: right; margin-right: 10px;">Username:</label>
    <input type="text" name="username" required style="width: 200px;" />
  </div>
  
  <div style="display: flex; justify-content: center; margin-bottom: 15px;">
    <label style="width: 100px; text-align: right; margin-right: 10px;">Password:</label>
    <input type="password" name="password" required style="width: 200px;" />
  </div>
  <button type="submit" style="background-color: rgb(0, 132, 255); color: white;">Register</button>
</form>
<br>
<p style="text-align: center;">
  Already have an account? <a href="/login" class="login-link">Login here!</a>
</p>
{{#if message}}
<div style="text-align: center; color: {{#if error}}red{{else}}green{{/if}}; font-weight: bold; margin-bottom: 10px;">
  {{message}}
</div>
{{/if}}