<div>
    <h1 style="text-align: center;">Welcome to QuiC!</h1>
    <p style="text-align: center;">Start studying QuiC by logging in or registering for a new account.</p>
</div>
<p style="text-align: center;">
  <a href="/login" class="btn btn-primary me-3">Login</a>
  <a href="/register" class="btn btn-secondary">Register</a>
</p>